/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-base: "Inter";
  --font-family-accent: "PressStart2P";
  --font-weight-base: 410;
  --font-weight-heading: 715;
  --background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(375px, 100%, 700px);
  --stroke-color: #fff;
  --heart-contour-color: #000;
  --animation-fill-color: #ff0000;
  --main-border: #000 2px solid;
  --button-content-color: #fff;
  --main-background-color: #fff;
}
